body {
  font-family: "Press Start 2P", cursive;
  text-align: center;
  margin: 0px;
}

header {
  padding: 3%;
}

#play-area {
  position: relative;
  cursor: url("gun.png"), pointer;
}

#background #duck {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 5%;
  max-height: 5%;
}

#gun {
  max-width: 5%;
  max-height: 5%;
}

.game-over {
  color: red;
}

/*
add more birds after diff levels
if not shot in a few seconds remove bird
missed shots
*/
